.bg3 {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  background-size: cover;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
