.bg1 {
  background-color: #9796f0;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
}

.img {
  height: 35px;
  width: 35px;
  margin: 0px;
}

.h1 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  margin: 0px;
}
.h2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  margin-left: 20px;
}

.bg2 {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}
